<%= render 'books/list', user: @user, book: @book %>
  
  
  
  
  
  <% if @user == current_user.id %>

  <% end %>
  
</div>

<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100, 100) %></p>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>


