


<table class="table table-striped">





    <h1>welcome to
    <i class="fa-solid fa-book"></i>
    <strong>Bookers</strong> !!</h1>
    <p>In 
    <i class="fa-solid fa-book"></i>
    <strong>Bookers</strong>,</p>
    <p>you can share and exchange your opinions , inpressions , and emotions</p>
    <p>about various books!</p>
  
  　
    <p>
    <%= link_to "Log in", new_user_session_path, class: 'btn btn-info btn-sm btn-block mb-3 sign_in' %>
    </p>
    
    <p>
    <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success btn-sm btn-block mb-3 sign_in' %>
    </p>
  
  
</table>